

.item {
	padding: 10px;
	line-height: 1;
}

.item-thum {
	background-color: #fff;
	width: 50px;
	height: 50px;
	border-radius: 4px;
	margin: 5px;
}

.item-title {
	text-align: center;
	font-size: 45px;
	font-weight: 500;
	color: #555;
	margin: 0;
	padding: 0;
}

.item-sub {
	text-align: center;
	font-size: 18px;
	color: #666;
	line-height: 1.3;
	margin: 0;
	padding: 0;
}

.item-head {
	text-align: left;
	font-size: 24px;
	color: #666;
	line-height: 1.3;
	margin: 0;
	padding: 10px;
}

.item-line {
	text-align: left;
	font-size: 16px;
	color: #666;
	line-height: 1.3;
	margin: 0;
	padding: 10px;
}
