<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <title>IXD</title>

  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
  <link rel="stylesheet" href="styles/app.css"/>
  <link rel="stylesheet" href="styles/onsen-css-components-sunshine-theme.css">

  <script src="lib/onsen/js/angular/angular.js"></script>
  <script src="lib/onsen/js/onsenui.js"></script>

  <script src="js/app.js"></script>
  <script src="js/factory.js"></script>
  <script>
    ons.ready(function() {
    });
  </script>

</head>

<body ng-controller="AppController">

  <!-- MASTER -->
  <ons-navigator var="navi">
    <ons-page width="1000px">
      <ons-toolbar>
        <div class="center"> Interaction Design Lecture | DESN 200 </div>
      </ons-toolbar>

      <ons-pull-hook var="loader" ng-action="load($done)">
        <span ng-switch="loader.getCurrentState()">
          <span ng-switch-when="initial">Pull down to refresh</span>
          <span ng-switch-when="preaction">Release to refresh</span>
          <span ng-switch-when="action">Loading data. Please wait...</span>
        </span>
      </ons-pull-hook>

      <ons-list ng-controller="MasterController">
        <ons-list-item modifier="chevron" class="item" ng-repeat="item in items" ng-click="showDetail($index)">
          <ons-row>
              <ons-col>
                  <header style="margin:10px">
                      <br>
                      <p class="item-title">{{item.title}}</p>
                      <br>
                      <p class ="item-sub">{{item.sub}}</p>
                  </header>
              </ons-col>
          </ons-row>
        </ons-list-item>
      </ons-list>

    </ons-page>
  </ons-navigator>

  <!-- WHAT -->
  <ons-template id="what.html">
    <ons-page ng-controller="DetailController" width="1000px">

      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">{{item.title}}</div>
      </ons-toolbar>

      <ons-list modifier="inset" style="margin-top: 10px">
        <ons-list-item class="item">
          <ons-row>
            <ons-col width="60px">
              <div class="item-thum"></div>
            </ons-col>
            <ons-col>
              <br>
              <p class="item-line">{{item.one}}</p>
              <br>
              <p class="item-title">{{item.two}}</p>
              <br>
              <p class="item-line">{{item.three}}</p>

              <br>
              <p class="item-line">{{item.four}}</p>
              <br>
              <p class="item-title">{{item.five}}</p>
              <br>
              <p class="item-line">{{item.six}}</p>

              <br>
              <p class="item-line">{{item.seven}}</p>
              <br>
              <p class="item-title">{{item.eight}}</p>
              <br>
              <p class="item-line">{{item.nine}}</p>

              <br><br><br><br>
              <p class="item-line">
                So... if you were to think of interaction design as a conversation, and nothing more... You'd get along just fine.
                (Assuming you're one of those people that are able to have logical, responsive conversations!)
              </p>
              <iframe src="http://giphy.com/embed/U6DyGe2WcRnyg" width="480" height="269" frameBorder="0" class="giphy-embed"></iframe>

              <br>
              <br>
            </ons-col>
            <ons-col width="60px">
              <div class="item-thum"></div>
            </ons-col>
          </ons-row>
        </ons-list-item>

      </ons-list>

    </ons-page>
  </ons-template>

  <!-- WHO-->
  <ons-template id="who.html">
    <ons-page ng-controller="DetailController" width="1000px">

      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">{{item.title}}</div>
      </ons-toolbar>

      <ons-list modifier="inset" style="margin-top: 10px">
        <ons-list-item class="item">
          <ons-row>
            <ons-col width="60px">
              <div class="item-thum"></div>
            </ons-col>
            <ons-col>
              <br>
              <div class="item-line">
                <p>Who does Interaction Design?</p>
                <p>Good question.</p>
                <p>I would argue that we all contribute to it - designers of all sorts.</p>
                <p>Some of it is conscious, some of it unconscious... but the design process is so similar across the subdisciplines, that it's almost always there.</p>
                <p>And really, Interaction Design comes from - and owes so much to - other design disciplines - Human Centered Design, Industrial Design, Communication Design...</p>
                <p>In fact, if you really get granular, Interaction Design isn't much more than the sum of several different disciplines itself...</p>
                <p>So the people that work in IxD come from very diverse backgrounds!</p>
              </div>
              <br>
              <p class="item-line">{{item.three}}</p>
              <br>
              <img src="img/venn_1.jpg" style="width:75%">
              <br>
              <p class="item-line">{{item.four}}</p>
              <br>
              <img src="img/venn_2.jpg" style="width:75%">
              <br>
              <p class="item-line">{{item.five}}</p>
              <br>
              <img src="img/venn_3.jpg" style="width:75%">
              <br><br>
              <p class="item-line">But... more importantly, we all take part in IxD.</p>
              <p class="item-line">Every day, everytime, everywhere... </p>
              <button class="button button--outline" style="width:50%" ng-click="showKeanu = ! showKeanu">Everywhere?</button><br>
              <br>
              <div class="item-line" ng-show="showKeanu">
                <img  src="img/_keanu.jpg" style="width:50%">
                <br><br>
                <p>Yes Conspiracy Keanu!</p>
                <p>That's it exactly.</p>
                <p>Everytime we use a public washroom, we are having a <em>conversation</em> with a facuet, dryer, or urinal.</p>
              </div>
            </ons-col>
            <ons-col width="60px">
              <div class="item-thum"></div>
            </ons-col>
          </ons-row>
        </ons-list-item>
      </ons-list>
      <br>
    </ons-page>
  </ons-template>

  <!-- HOW -->
  <ons-template id="how.html">
    <ons-page ng-controller="DetailController" width="1000px">

      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">{{item.title}}</div>
      </ons-toolbar>

      <ons-list modifier="inset" style="margin-top: 10px">
        <ons-list-item class="item">
          <ons-row>
            <ons-col width="60px">
              <div class="item-thum"></div>
            </ons-col>
            <ons-col>
              <br>
              <ons-list>
                <ons-list-header><p class="item-head"> CORE CONCEPTS </p></ons-list-header>
                <ons-list-item ng-click="alert('Or Activity Centered Design? Or Self Design? Or Genius Design?')" modifier="tappable">
                  <p class="item-line">User Centered Design</p>
                </ons-list-item>
                <ons-list-item ng-click="alert('Designing for One Eye and One Thumb... ')" modifier="tappable">
                  <p class="item-line">Contextual Awareness</p>
                </ons-list-item>
                <ons-list-item ng-click="alert('Google Jacob Nielsen. Now.')" modifier="tappable">
                  <p class="item-line">Usability Heuristics</p>
                </ons-list-item>
                <ons-list-item ng-click="alert('Don Norman. Google him too. Also, we totally stole this idea from ID...')" modifier="tappable">
                  <p class="item-line">Affordances</p>
                </ons-list-item>
                <ons-list-item ng-click="alert('More and more, we have (what we think is) an intuitive way of approaching a designed experience or object...')" modifier="tappable">
                  <p class="item-line">Mental Models</p>
                </ons-list-item>
                <ons-list-item ng-click="alert('Seven +/- 2')" modifier="tappable">
                  <p class="item-line">Cognitive Surplus</p>
                </ons-list-item>
                <ons-list-item ng-click="alert('Wireframes. User Personas. Functional Specifications. Etc.')" modifier="tappable">
                  <p class="item-line">Design Documents</p>
                </ons-list-item>
                <ons-list-item ng-click="alert('Fail early and often. Rinse. Repeat.')" modifier="tappable">
                  <p class="item-line">Agile Workflows</p>
                </ons-list-item>
              </ons-list>
              <br>
            </ons-col>
            <ons-col width="60px">
              <div class="item-thum"></div>
            </ons-col>
          </ons-row>
        </ons-list-item>
      </ons-list>

      <br>

    </ons-page>
  </ons-template>

  <!-- DESIGN -->
  <ons-template id="design.html">
    <ons-page ng-controller="DetailController" width="1000px">
      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">{{item.title}}</div>
      </ons-toolbar>
      <br>
      <br>
      <ons-carousel swipeable overscrollable auto-scroll style="width: 100%; height: 600px" var="carousel">
        <ons-carousel-item style="background-color: gray;">
          <img src="img/ui_grid.jpg" height="100%">
        </ons-carousel-item>
        <ons-carousel-item style="background-color: gray;">
          <img src="img/ui_hierarchy.jpg" height="100%">
        </ons-carousel-item>
        <ons-carousel-item style="background-color: gray;">
          <img src="img/ui_typography.jpg" height="100%">
        </ons-carousel-item>

        <ons-carousel-item style="background-color: orange;">
          <img src="img/ui_anim.gif" height="100%">
        </ons-carousel-item>
        <ons-carousel-item style="background-color: orange;">
          <img src="img/ui_personal.gif" height="100%">
        </ons-carousel-item>
        <ons-carousel-item style="background-color: orange;">
          <img src="img/ui_fitts.jpg" height="100%">
        </ons-carousel-item>
      </ons-carousel>
      <br>
      <br>
    </ons-page>
  </ons-template>

  <!-- UI -->
  <ons-template id="ui.html">
    <ons-page ng-controller="DetailController" width="1000px">

      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">{{item.title}}</div>
      </ons-toolbar>

      <br>
      <br>
      <ons-carousel swipeable overscrollable auto-scroll style="width: 100%; height: 600px" var="carousel">

        <ons-carousel-item style="background-color: gray;">
          <div class="carousel-label">GUI</div>
        </ons-carousel-item>
        <ons-carousel-item style="background-color: gray;">
          <img src="img/gui_1.png" style="height:100%;">
        </ons-carousel-item>
        <ons-carousel-item style="background-color: gray;">
          <img src="img/gui_2.png" style="height:100%;">
        </ons-carousel-item>
        <ons-carousel-item style="background-color: gray;">
          <img src="img/gui_3.png" style="height:100%;">
        </ons-carousel-item>
        <ons-carousel-item style="background-color: gray;">
          <img src="img/gui_4.png" style="height:100%;">
        </ons-carousel-item>

        <ons-carousel-item style="background-color: #085078;">
          <div class="carousel-label">NUI / TUI</div>
        </ons-carousel-item>
        <ons-carousel-item style="background-color: #085078;">
          <img src="img/nui_1.jpg" style="height:100%;">
        </ons-carousel-item>
        <ons-carousel-item style="background-color: #085078;">
          <img src="img/nui_2.jpg" style="height:100%;">
        </ons-carousel-item>
        <ons-carousel-item style="background-color: #085078;">
          <img src="img/nui_3.jpg" style="height:100%;">
        </ons-carousel-item>
        <ons-carousel-item style="background-color: #085078;">
          <img src="img/nui_4.jpg" style="height:100%;">
        </ons-carousel-item>

        <ons-carousel-item style="background-color: #D38312;">
          <div class="carousel-label">VUI</div>
        </ons-carousel-item>
        <ons-carousel-item style="background-color: #D38312;">
          <img src="img/vui_1.jpg" style="height:100%;">
        </ons-carousel-item>
        <ons-carousel-item style="background-color: #D38312;">
          <img src="img/vui_2.jpg" style="height:100%;">
        </ons-carousel-item>
        <ons-carousel-item style="background-color: #D38312;">
          <img src="img/vui_3.jpg" style="height:100%;">
          <!-- <iframe width="700" height="420" src="https://www.youtube.com/embed/R2IJdfxWtPM" frameborder="0" allowfullscreen></iframe> -->
        </ons-carousel-item>

        <ons-carousel-item style="background-color: white;">
          <img src="img/_huey.png" style="height:100%;">
        </ons-carousel-item>
        <ons-carousel-item style="background-color: white;">
          <img src="img/_dewey.png" style="height:100%;">
        </ons-carousel-item>
        <ons-carousel-item style="background-color: white;">
          <img src="img/_louie.png" style="height:100%;">
        </ons-carousel-item>

      </ons-carousel>

      <br>

    </ons-page>
  </ons-template>

  <!-- INPUT -->
  <ons-template id="input.html">
    <ons-page ng-controller="DetailController" width="1000px">

      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">{{item.title}}</div>
      </ons-toolbar>

      <ons-list modifier="inset" style="margin-top: 10px">
        <ons-list-item class="item">
          <ons-row>
            <ons-col width="60px">
              <div class="item-thum"></div>
            </ons-col>
            <ons-col>
              <br>
              <ons-list>
                <ons-list-header><p class="item-head">Certain UI elements directly relate to the physical world</p></ons-list-header>
                <ons-list-item>
                    <br>
                    <button class="button button--outline">Button</button>
                    <br>
                    <label class="checkbox checkbox--list-item">
                    <input type="checkbox">
                    <div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
                    </label>
                    <br>
                    <label class="switch">
                    <input type="checkbox" class="switch__input">
                    <div class="switch__toggle"></div>
                    </label>
                    <br>
                    <input type="range" class="range">
                </ons-list-item>
              </ons-list>
              <br>
              <ons-list>
                <ons-list-header><p class="item-head">Some were developed in the context of games (but live on in a broader context)</p></ons-list-header>
                <ons-list-item>
                    <iframe src="http://giphy.com/embed/qBnvaSMx4c9O" width="480" height="480" frameBorder="0" class="giphy-embed" ></iframe>
                    <iframe src="http://giphy.com/embed/WPhjbtMrDZkBi" width="480" height="314" frameBorder="0" class="giphy-embed" ></iframe>
                    <iframe src="http://giphy.com/embed/S2foJZNnwQFxu" width="480" height="384" frameBorder="0" class="giphy-embed" ></iframe>
                </ons-list-item>
              </ons-list>
              <br>
              <ons-list>
                <ons-list-header><p class="item-head">Others have been popularized with the advent of the web (and only make sense there)</p></ons-list-header>
                <ons-list-item>
                  <iframe src="img/hamburger_1.gif" width="480" height="384" frameBorder="0" class="giphy-embed" ></iframe>
                  <iframe src="img/dropdown_1.gif" width="480" height="384" frameBorder="0" class="giphy-embed" ></iframe>
                </ons-list-item>
              </ons-list>
              <br>
              <br>
            </ons-col>
            <ons-col width="60px">
              <div class="item-thum"></div>
            </ons-col>
          </ons-row>
        </ons-list-item>
      </ons-list>

      <br>

    </ons-page>
  </ons-template>

  <!-- EXAMPLES -->
  <ons-template id="examples.html">
    <ons-page ng-controller="DetailController" width="1000px">

      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">{{item.title}}</div>
      </ons-toolbar>

      <ons-list modifier="inset" style="margin-top: 10px">
        <ons-list-item class="item">
          <ons-row>
            <ons-col width="60px">
              <div class="item-thum"></div>
            </ons-col>
            <ons-col>
              <br>
              <ons-list>
                <ons-list-item>
                  <br>
                  <p class="item-title">Vision + Presence</p>
                  <br>
                  <iframe src="https://player.vimeo.com/video/61174060?color=cfcaca"  width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  <iframe src="https://player.vimeo.com/video/102507009?color=cfcaca" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  <iframe src="https://player.vimeo.com/video/8525186?color=cfcaca"   width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  <iframe src="https://player.vimeo.com/video/96549043?color=cfcaca"  width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </ons-list-item>
                <ons-list-item>
                  <br>
                  <p class="item-title">Embodiment + Physicality</p>
                  <br>
                  <iframe src="https://player.vimeo.com/video/40980676?color=00f137" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  <iframe src="https://player.vimeo.com/video/44005246?color=ffffff" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  <iframe src="https://player.vimeo.com/video/28425601?color=ffffff" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </ons-list-item>
                <ons-list-item>
                  <br>
                  <p class="item-title">Personal Gesture</p>
                  <br>
                  <iframe width="800" height="450" src="https://www.youtube.com/embed/6DDkwdPaYmk" frameborder="0" allowfullscreen></iframe>
                  <iframe width="800" height="450" src="https://www.youtube.com/embed/eMNtrLcbCNk" frameborder="0" allowfullscreen></iframe>
                  <iframe width="800" height="450" src="https://www.youtube.com/embed/rKhbUjVyKIc" frameborder="0" allowfullscreen></iframe>
                </ons-list-item>
              </ons-list>
              <br>
            </ons-col>
            <ons-col width="60px">
              <div class="item-thum"></div>
            </ons-col>
          </ons-row>
        </ons-list-item>
      </ons-list>

      <br>

    </ons-page>
  </ons-template>

  <!-- QUESTIONS -->
  <ons-template id="question.html">
    <ons-page ng-controller="DetailController" width="1000px">

      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">{{item.title}}</div>
      </ons-toolbar>
      <br>
      <br>
      <div class="centre-button">
        <div class="item-title">{{item.sub}}...</div>
      </div>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <div class="centre-button">
        <div class="item-title">{{item.one}}</div>
        <img src="img/ask_1.jpg" style="height:50%;">
      </div>
      <br>
      <br>
      <div class="centre-button">
        <div class="item-title">{{item.two}}</div>
        <img src="img/ask_2.jpg" style="height:50%;">
      </div>
      <br>
      <br>
      <div class="centre-button">
        <div class="item-title">{{item.three}}</div>
        <img src="img/ask_3.jpg" style="height:50%;">
      </div>
      <br>
      <br>
      <div class="centre-button">
        <div class="item-title">{{item.four}}</div>
        <img src="img/ask_4.jpg" style="height:50%;">
      </div>
      <br><br><br><br>
      <br><br><br><br>
      <div class="centre-button">
        <div class="item-title">Motivating Factors</div>
        <div class="item-line">
          <p>CHALLENGE</p>
          <p>provide optimal level of mastery that allows actors to directly affect experience</p>
          <p>give clear and direct feedback in order to measure progress</p>
          <br>
          <p>CURIOSITY</p>
          <p>interaction should be neither too complex or too trivial</p>
          <p>utilize cognitive curiosity to help actors anticipate changes and effects</p>
          <br>
          <p>COLLABORATION</p>
          <p>create the possibility for actors to influence interaction of other actors</p>
          <p>set emerging goals and processes that require multiple actors in order to be successful</p>
        </div>
      </div>

      <br><br><br><br>
      <br><br><br><br>
      <div class="centre-button">
        <div class="item-title">Final Thoughts</div>
        <div class="item-line">
          <p>Interfaces drive the interaction - but also delimit what we can do
            - a UI helps us avoid errors, at the same time as imbuing a sense of the (im)possible.
          </p>
          <p>What is the Primary task, and what is the Secondary? Likewise, what are the Regular versus Irregular tasks?</p>
          <p>Virtually any input can be mapped to any output: a gesture could control a sound, or a light.
            The same sound could be triggered by something as simple as a button or as complex as a networked event.
          </p>
          <p>Events can be immediate, with feedback, or they can be slow, distanced, or ambient.</p>
          <p>Likewise, events can be local or remote, intentional or unknown.</p>
        </div>
      </div>

    </ons-page>
  </ons-template>

</body>
</html>
